body {
    width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue", Helvetica,Arial,sans-serif;
    color: #000;
    background-color: #fff;
    text-align: left;
    overflow-x: hidden;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue", Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
}

@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 1.2em;
        line-height: 1.6;
    }
}

a {
    color: #489AC5;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover {
    text-decoration: none;
    color: #ccc;
}

.light {
    font-weight: 400;
}


.content-section {
    padding-top: 50px;
}


@media(min-width:767px) {
    .content-section {
        padding-top: 50px;
    }

}


/* Styles for content top of the page */

.byline{
    text-align: left;
    color: #888888;
    font-size: 1.4em;
    margin-bottom: 1em;
}
.bylines-container.bylines-top + .row .col-lg-7 p:first-child:first-letter {
    float: left;
    color: #888888;
    font-size: 93px;
    line-height: 65px;
    padding-top: 4px;
    padding-right: 3px;
    padding-left: 3px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, sans-serif;
}

footer {
    padding: 50px 0;
}

footer p {
    margin: 0;
    text-align: left;
}


/* Subhead */

h2 {
    margin-top: 1em;
}


