/*!
 * Start Bootstrap - Grayscale Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */


.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-hover:{
background-color: white
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(255,255,255,.8);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

.navbar-header {
    color: #ffffff;
}

.navbar-nav.social-buttons li span.bigread-social-btn {
    padding: 15px 0 15px 20px;
    line-height: 20px;
    display: block;
    float: left;
    font-size: 1.3em;
    color: white;
    cursor: pointer;
}

.navbar-nav.social-buttons li span.bigread-social-btn .fa-twitter:hover {
    color: #4099FF;
}

.navbar-nav.social-buttons li span.bigread-social-btn .fa-facebook:hover {
    color: #3B5998;
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }




    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(255,255,255,.3);
        background: #000;
    }
}

.intro {
    /*display: table; */
    margin-top:20%;
    width: 100%;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;

}

.intro .intro-body {
    /*display: table-cell;*/
    vertical-align: middle;
}

.panel0-container{
    position:relative;
}
.panel0 img{
    max-width: inherit;
    text-align: center;
/*    position: absolute;*/
    width:100%;
    left: -1px;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
    text-shadow: 2px 2px #3E3E3E;

}

.intro .intro-body .intro-text {
    font-size: 18px;
    text-align: center;
    text-shadow: 2px 2px #3E3E3E;
}

#content-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

#content-container {
    position: absolute;
    top: 0;
}

.row.bylines-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Images */

.full-image {
    float: left;
    width: 100%;
    position: relative;
}

.full-image.third {
    float: left;
    width: 33.33333333%;
    position: relative;
    margin-top: 10px;
}

.full-image.third.left {
    padding-right: 6.6666666666px;
}

.full-image.third.middle {
    padding-left: 3.333333333px;
    padding-right: 3.333333333px;
}

.full-image.third.right {
    padding-left: 6.6666666666px;
}

.full-image.half {
    float: left;
    width: 50%;
    position: relative;
    margin-top: 10px;
}

.full-image.half.left {
    padding-right: 5px;
}

.full-image.half.right {
    padding-left: 5px;
}

.full-image.bottom {
    padding-top: 10px;
    padding-bottom: 10px;
}

.full-image img,
.full-image video {
    width: 100%;
    float: left;
}

.caption {
    padding: 15px 0 3em 0;
    color: #888888;
    float:left;
}

/* Image expansion */
.mfp-close {
    cursor: pointer !important;
}

.expand-image {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
}

img.ajmint-unveil {
    opacity: 0;
    -webkit-transition: opacity 500ms cubic-bezier(0, 0, 0.2, 1);
    -moz-transition: opacity 500ms cubic-bezier(0, 0, 0.2, 1);
    -o-transition: opacity 500ms cubic-bezier(0, 0, 0.2, 1);
    -ms-transition: opacity 500ms cubic-bezier(0, 0, 0.2, 1);
    transition: opacity 500ms cubic-bezier(0, 0, 0.2, 1);
}


@media(min-width:768px) {

    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}

@media(max-width:768px) {
    .intro{
        position:relative;
        margin-top: 50px;
        color:#888;
        text-shadow:none;
        padding:0;
    }

    .intro .intro-body .intro-text,
    .intro .intro-body .brand-heading {
     text-shadow: none;
    }

    .intro .intro-body .intro-text{
        font-size: 1.2em;
    }

    .intro .intro-body .brand-heading {
        font-size: 2.2em;
    }

    .btn{
        display:none;

    }

    .panel0-container{
        margin-top: 50px;
    }
    .overlay {
    	position:relative !important;
    	top:5px !important;
    	bottom:10px !important;
    	overflow:auto;
      width: 100%;
    }
    .overlay-inner {
    	display: inline-block !important;
    	width:100%;
    	height:100%;
      margin: 0 auto !important;
    }
    .overlay-content {
      width: 100%;
    	display:inline-block !important;
    	vertical-align: middle;
    }
    .overlay-content p {
      font-size: 20px;
      width: 100% !important;
      color: #000000;
    	margin:0 0 !important;
    	padding:10px;
      text-align: left;
    }
    .card {
      margin-left: 8.33333333%;
    }

}
@media(min-width:768px){
  .card.col-sm-offset-3 {
    margin-left: 21% !important;
  }
}
@media(max-width:1000px) {
    .intro .intro-body .intro-text {
    font-size: 1.4em;
    }

    .intro .intro-body .brand-heading {
        font-size: 3em;
    }

}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}



.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #42dca3;
    color: #42dca3;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #42dca3;
    outline: 0;
    color: #000;
    background-color: #42dca3;
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}




body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}
.image-gallery img {
  padding: 10px 0;
  width:100%;
	height:auto;
  opacity: 0.4;
  filter: alpha(opacity=30);
  z-index: 100;
  position: relative;
  float: left;
}
.image-gallery img:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.overlay {
	position:absolute;
	top:5px;
	left:0;
	right:0;
	bottom:10px;
	overflow:auto;
}
.overlay-inner {
	display:table;
	width:100%;
	height:100%;
}
.overlay-content {
	display:table-cell;
	vertical-align:middle;
}
.overlay-content p {
  font-size: 20px;
  color: #000000;
	margin:0 70px;
	padding:10px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.center {
  text-align: center;
}
