<div class='image-gallery'>
    <div class="row">
        <div class="col-sm-3 col-sm-offset-1 col-xs-10 card">
            <a href="articles/pilger.html" title="Read the Pilger article">
            <img src="img/preview_pilger.jpg" width='100%'>
            <div class="overlay">
                <div class="overlay-inner">
                    <div class='overlay-content'>
                        <p class='center'><strong>Pilger</strong></p>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <div class="col-sm-3 col-xs-10 card">
            <a href="articles/banner-county.html" title="Read the Banner County article">
            <img src="img/preview_banner.jpg" width='100%'>
            <div class="overlay">
                <div class="overlay-inner">
                    <div class='overlay-content'>
                        <p class='center'><strong>Banner County</strong></p>
                    </div>
                </div>
            </div>
          </a>
        </div>
        <div class="col-sm-3 col-xs-10 card">
            <a href="articles/omaha.html" title="Read the Omaha article">
            <img src="img/preview_menhealth.JPG" width='100%'>
            <div class="overlay">
                <div class="overlay-inner">
                    <div class='overlay-content'>
                        <p class='center'><strong>Omaha</strong></p>
                    </div>
                </div>
            </div>
          </a>
        </div>
    </div>
    <div class='row'>
      <div class="col-sm-3 col-sm-offset-3 col-xs-10 card">
          <a href="articles/pawnee-city.html" title="Read the Pawnee City article">
          <img src="img/preview_pawnee.jpg" width='100%'>
          <div class="overlay">
              <div class="overlay-inner">
                  <div class='overlay-content'>
                      <p class='center'><strong>Pawnee City</strong></p>
                  </div>
              </div>
          </div>
        </a>
      </div>
      <div class="col-sm-3 col-xs-10 card">
        <a href="articles/ong.html" title="Read the Ong article">
          <img src="img/preview_ong.jpg" width='100%'>
          <div class="overlay">
              <div class="overlay-inner">
                  <div class='overlay-content'>
                      <p class='center'><strong>Ong</strong></p>
                  </div>
              </div>
          </div>
        </a>
      </div>
    </div>
    <div class='row'>
      <div class="col-sm-3 col-sm-offset-3 col-xs-10 card">
          <a href="articles/minden.html" title="Read the Minden article">
          <img src="img/preview_marriage.jpg" width='100%'>
          <div class="overlay">
              <div class="overlay-inner">
                  <div class='overlay-content'>
                      <p class='center'><strong>Minden</strong></p>
                  </div>
              </div>
          </div>
        </a>
      </div>
      <div class="col-sm-3 col-xs-10 card">
        <a href="articles/lewisville.html" title="Read the Lewisville article">
          <img src="img/preview_film.jpg" width='100%'>
          <div class="overlay">
              <div class="overlay-inner">
                  <div class='overlay-content'>
                      <p class='center'><strong>Lewisville</strong></p>
                  </div>
              </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-xs-10  col-sm-offset-1 card">
          <a href="articles/dannebrog.html" title="Read the Dannebrog article">
            <img src="img/preview_sand.jpg" width='100%'>
            <div class="overlay">
                <div class="overlay-inner">
                    <div class='overlay-content'>
                        <p class='center'><strong>Dannebrog</strong></p>
                    </div>
                </div>
            </div>
          </a>
        </div>
        <div class="col-sm-3 col-sm-3 col-xs-10 card">
          <a href="articles/loomis-1.html" title="Read the Loomis 1 article">
            <img src="img/preview_woman.jpeg" width='100%'>
            <div class="overlay">
                <div class="overlay-inner">
                    <div class='overlay-content'>
                        <p class='center'><strong>Loomis 1</strong></p>
                    </div>
                </div>
            </div>
          </a>
        </div>
        <div class="col-sm-3 col-xs-10 col-sm-3 card">
          <a href="articles/loomis-2.html" title="Read the Loomis 2 article">
            <img src="img/preview_bridal.jpeg" width='100%'>
            <div class="overlay">
                <div class="overlay-inner">
                    <div class='overlay-content'>
                        <p class='center'><strong>Loomis 2</strong></p>
                    </div>
                </div>
            </div>
          </a>
        </div>
    </div>
</div>
