<div class='image-gallery'>
    <div class="row">
        <div class="col-sm-3 col-sm-offset-1 col-xs-10 card">
            <img src="img/cotton-mill.jpg" width='100%'>
            <div class="overlay">
                <div class="overlay-inner">
                    <div class='overlay-content'>
                        <p class='center'><strong>Pilger</strong></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-xs-10 card">
            <img src="img/cotton-mill.jpg" width='100%'>
            <div class="overlay">
                <div class="overlay-inner">
                    <div class='overlay-content'>
                        <p class='center'><strong>ONG</strong></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-xs-10 card">
            <img src="img/preview_pawnee.jpg" width='100%'>
            <div class="overlay">
                <div class="overlay-inner">
                    <div class='overlay-content'>
                        <p class='center'><strong>Pawnee</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='row'>
      <div class="col-sm-3 col-sm-offset-3 col-xs-10 card">
          <img src="img/cotton-mill.jpg" width='100%'>
          <div class="overlay">
              <div class="overlay-inner">
                  <div class='overlay-content'>
                      <p class='center'><strong>Pilger</strong></p>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-sm-3 col-xs-10 card">
          <img src="img/cotton-mill.jpg" width='100%'>
          <div class="overlay">
              <div class="overlay-inner">
                  <div class='overlay-content'>
                      <p class='center'><strong>ONG</strong></p>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-xs-10  col-sm-offset-1 card">
            <img src="img/cotton-mill.jpg" width='100%'>
            <div class="overlay">
                <div class="overlay-inner">
                    <div class='overlay-content'>
                        <p class='center'><strong>Banner County</strong></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-sm-3 col-xs-10 card">
            <img src="img/cotton-mill.jpg" width='100%'>
            <div class="overlay">
                <div class="overlay-inner">
                    <div class='overlay-content'>
                        <p class='center'><strong>Farm Wedding</strong></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-xs-10 col-sm-3 card">
            <img src="img/cotton-mill.jpg" width='100%'>
            <div class="overlay">
                <div class="overlay-inner">
                    <div class='overlay-content'>
                        <p class='center'><strong>Filmmaking</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
