{% macro build_content(content, right_rail, images, videos) %}

{% for row in content %}
    {% set rowloop = loop %}
    {% if row.content_type  == "text" %}
        {{ build_text(row, right_rail, images) }}
    {% elif row.content_type  == "subhead" %}
        {{ build_subhead(row) }}
    {% elif row.content_type  == "markup" %}
        {{ build_markup(row.value) }}
    {% elif row.content_type  == "image" %}
        {{ build_images(row, images) }}
    {% elif row.content_type  == "video" %}
        {{ build_videos(row, videos) }}
    {% endif %}
{% endfor %}

{% endmacro %}




{% macro build_text(text_row, right_rail, images) %}
<div class="row" {% if text_row.id %} id={{ text_row.id }} {% endif %}>
    <div class="col-sm-9 col-sm-offset-1 col-xs-10 col-xs-offset-1">
        <p >{{ text_row.value.replace("\n", "</p><p c>") | replaceMarkdownLinks | safe }}</p>
    </div>
    {% if text_row.right_rail_id %}
    <div class="col-sm-3 col-sm-offset-0 col-xs-10 col-xs-offset-1" {% if right_rail|filter('right_rail_id', text_row.right_rail_id, 'id')|first %} id="{{ right_rail|filter('right_rail_id', text_row.right_rail_id, 'id')|first }}" {% endif %}>
       {{ build_right_rail(right_rail|filter('right_rail_id', text_row.right_rail_id)|first, images) }}
    </div>
    <div>
    {% endif %}
{% endmacro %}



{% macro build_right_rail(right_rail_row, images) %}
  {% if right_rail_row.content_type == "text" %}
    <p>{{ right_rail_row.value | safe}}</p>
  {% elif right_rail_row.content_type == "markup" %}
    {{ build_markup(right_rail_row.value) }}
{% elif right_rail_row.content_type == "image" %}
    {{ load_images(right_rail_row, images) }}
  {% endif %}
{% endmacro %}



{% macro build_subhead(subhead_row) %}
<div class="row" {% if subhead_row.id %} id={{ subhead_row.id }} {% endif %}>
    <div class="col-sm-7 col-sm-offset-1 col-xs-10 col-xs-offset-1">
        <h2>{{ subhead_row.value }}</h2>
    </div>
</div>
{% endmacro %}



{% macro build_markup(markup) %}
    {% if markup | regex_match("^_.+\.html$") %} {# if markup references a .html file, then pull markup from there #}
        {% include markup %}
    {% else %}
        {{ markup | safe }} {# otherwise, load markup directly in from the file #}
    {% endif %}
{% endmacro %}



{% macro build_images(image_row, images) %}
<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    {{ load_images(image_row, images) }}
  </div>
</div>
{% endmacro %}

{% macro build_videos(video_row, videos) %}
<div class='row'>
  <div class='col-xs-10 col-xs-offset-1'>
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="{{ video_row.value }}" frameborder="0" allowfullscreen></iframe>
</div>
</div>
</div>
{% endmacro %}

{% macro load_images(image_row, images) %}
  {% for image in images|filter('image_group', image_row.value) %}
    {% if image.image_layout == "full" or image.image_layout == "half left" or image.image_layout == "half right" or image.image_layout == "third left" or image.image_layout == "third middle" or image.image_layout == "third right" %}
      <div class="full-image {{ image.image_layout }}" id="{{ image.image_id }}">
        <img class="ajmint-unveil" src="img/icons/loading.png" data-src="{{ image.image_source }}" />
        <noscript>
          <img src="{{ image.image_source }}" />
        </noscript>
      </div>
    {% else %}
      <p class="tarbell-error">ERROR WITH IMAGE LAYOUT</p>
    {% endif %}
  {% endfor %}
  {% if images|filter('image_group', image_row.value, 'caption')|first %}
  <div class="caption">{{ images|filter('image_group', image_row.value, 'caption') |first | replaceMarkdownLinks | safe }}</div>
  {% endif %}
{% endmacro %}
