<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
              <i class="fa fa-bars"></i>
          </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
 <div class="dropdown navbar-custom navbar-nav navbar-li">
  <button type="button" id="dropdownMenu2" data-toggle="dropdown" class="btn btn-secondary dropdown-toggle" aria-haspopup="true" aria-expanded="false">{{ organization_name }}
     <span class="caret"></span>
     </button>
     <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
<!--                Hidden li included to remove active class from about link when scrolled up past about section -->
              <li class="hidden">
                  <a href="#page-top"></a>
              </li>
              {% for chapter in chapters %}
              <li>
                  <a class="page-scroll" href="{{ chapter.link }}">{{ chapter.name }}</a>
              </li>
              {% endfor %}
          </ul>
</div>
      <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
       <ul class="nav navbar-nav social-buttons">
             <li><span data-type="twitter" class="bigread-social-btn"><span class="fa fa-twitter"></span></span></li>
             <li><span data-type="facebook" class="bigread-social-btn"><span class="fa fa-facebook"></span></span></li>
          </ul>          
      </div>
      <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
